/* estilização dos elementos HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilização do corpo do site */
body {
    font-family: Times New Roman, serif;
    background-image: radial-gradient(circle at center, #0F1B42, #090d25, black);
    background-attachment: fixed;
    color: #fff;
    font-size: 25px;
}

/* estilização da barra de navegação da pagina inicial */
.barra-inicial {
    margin-top: 6px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

/* estilização da linha horizontal */
hr {
    margin-top: 2px;
    border: 0.2% solid #fff;
    width: 100vw;
    position: relative;
}

/* estilização dos links do nac */
a {
    margin-top: 20px;
    color: rgb(201, 197, 197);
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    
}

li {
    list-style: none;
    text-align: left;
    display: inline-block;
}

/* estilização do título */
#tit-inicial {
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
}

/* estilização do subtítulo */
#subt-inicial {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

#but-inicial {
    text-align: center;
    background-color: blue;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 170px;
    color: #fff;
    align-items: center;
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
}
